# Umwandeln der Werte von . zu , vonS tring zu float

In [ ]:
# dieser Code kann direkt in das Datat cleaning Notebook integriert werden beim Datenbank erstellen

In [1]:
import pandas as pd

# CSV laden (angenommen, Sales-Spalte ist String mit Punkt als Dezimaltrennzeichen)
df = pd.read_csv(r'C:\Users\cumdi\Desktop\Bootcamp Visual Studio\Modul 2\Sprint1\CSV\totalorders.csv', dtype=str)

In [2]:
df.head(2)

         order_id       product_id   sales quantity discount   profit
0  ca-2016-152156  fur-bo-10001798  261.96        2      0.0  41.9136
1  ca-2016-152156  fur-ch-10000454  731.94        3      0.0  219.582

In [ ]:

cols = ['sales', 'profit', 'discount']

for col in cols:
    df[col] = df[col].astype(str).str.strip().astype(float)


df['quantity'] = df['quantity'].astype(str).str.strip()  # Leerzeichen entfernen


# CSV abspeichern (ohne Index)
df.to_csv('totalorders_float.csv', index=False)

In [4]:
df.head(2)

         order_id       product_id   sales quantity  discount    profit
0  ca-2016-152156  fur-bo-10001798  261.96        2       0.0   41.9136
1  ca-2016-152156  fur-ch-10000454  731.94        3       0.0  219.5820

In [5]:
print(df.dtypes)

order_id       object
product_id     object
sales         float64
quantity       object
discount      float64
profit        float64
dtype: object

In [6]:
df['sales'] = df['sales'].astype(float)
df['profit'] = df['profit'].astype(float)
df['discount'] = df['discount'].astype(float)
df['discount'] = df['discount'].astype(float)